x-dev-tools: &dev-tools
  build:
    context: .
    target: dev-tools
  environment:
    DATABASE_URL: ${DATABASE_URL}

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    ports:
      - "8080:8080"

  app:
    build:
      context: .
      target: production
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      db-seed:
        condition: service_completed_successfully

  db-migrate:
    <<: *dev-tools
    command: ["node", "migrate.js"]
    depends_on:
      postgres:
        condition: service_healthy

  db-seed:
    <<: *dev-tools
    command: ["node", "seed.js"]
    depends_on:
      db-migrate:
        condition: service_completed_successfully
